.admin-form {
	width: 25vw;
	margin: 0 auto;
	margin-top: 200px;
	padding: 10px 0;
	border-radius: 20px;
	background-color: lightblue;
}

.admin-form input,
.admin-form button {
	display: block;
	width: 23vw;
	height: 35px;
	margin: 20px auto;
	text-align: center;
	border-radius: 10px;
}

.admin-form button:hover {
	cursor: pointer;
}

.admin-form p {
	color: rgb( 255, 23, 23 );
	text-align: center;
}